* {
    box-sizing: border-box;
}

body {
    background-color: transparent;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.clr {
    content: "";
    display: table;
    clear: both;
}

.option-list {
    float: left;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 20%;
}

.option {
    background-color: #f0f0f0;
    border: solid 1px lightgray;
    margin: 0px 0px -2px 0px;
    padding: 5px 0px 5px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.option:hover {
    background-color: #c4e4ff;
}

.option.selected {
    background-color: #0373cf;
    color: white;
}

.device-list {
    padding: 0;
    list-style-type: none;
    width: 100%;
}

.device {
    background-color: #c4e4ff;
    border: solid 2px lightgray;
    margin: 0px 0px -4px 0px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.device:hover {
    background-color: #ffb5b5;
}

.error-message {
    color: #ff3232;
}

#main-header {
    background-color: #202020;
    color: white;
}

#logo {
    display: inline-block;
    height: 80px;
    vertical-align: middle;
}

#arrow {
    width: 20px;
}

#selector {
    float: left;
    width: 80%;
    min-height: 100vh;
}

#result-container {
    width: 100%;
}

#search-bar {
    font-size: 18px;
}

#grab-bag {
    float: right;
    width: 20%;
    text-align: center;
}

#clear-button {
    background-color: #0373cf;
    color: white;
    width: 100%;
    font-size: 18px;
    padding: 5px;
    border: solid 1px lightgray;
    cursor: pointer;
}

#clear-button:hover {
    background-color: #005ca7;
}

#main-footer {
    background: #202020;
    color: white;
    text-align: center;
    margin: 16px 0px 0px 0px;
    padding: 20px;
    bottom: 0;
}

#main-footer a {
    color: #c4e4ff
}

@media (max-width: 600px) {
    .option-list {
        font-size: 13px;
        width: 20%;
    }
    #selector {
        width: 100%;
        float: none;
    }

    #grab-bag {
        width: 100%;
        float: none;
    }
}